*{
  box-sizing: border-box
}
body {
  background: #fff;
  font-weight: 400;
  color: #242424;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  min-width: 20em;
  overflow-x: hidden;
    
}

ul {
  list-style-type: none;
}

/*Top navigation*/

#main-nav {
  text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
  line-height: 1.3;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  min-height: 3.5rem;
  font-size: 1rem;
  border-bottom: 1px solid #eee;
}

.nav-wrapper{
  height: 100%;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.logo-img{
  width: 8rem;
}

.main-nav-items{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-item{
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .5px;
  min-height: 1px;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  text-align: center;
  justify-content: center;
}

.nav-item a{
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  color: #111;
  text-decoration: none;
}

.main-content{
  max-width: 1380px;
}

.margin-auto{
  margin-left: auto;
  margin-right: auto;
}

.shadow{
  box-shadow: 0 0 10px 0 hsl(0deg 0% 82% / 50%);
}

.font-white{
  color: #fff;
}
.h100{
  height: 100%;
}
@media (min-width: 1024px){
  .content-wrapper{
    display: flex;
  }
  .w100{
    width: 100%;
  }
  .w70{
    width: 70%;
  }
  .w30{
    width: 30%;
  }
}
@media (min-width:0px){
  .of-the-week-head{
    text-align: center;
  }
  .of-the-week-title-wrapper{
    margin-left: auto;
    margin-right: auto;
  }
  .of-the-week-img-wrapper{
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 910px){
  .of-the-week-head{
    display: flex;
    text-align: left;
  }
  .flex-table-cell{
    display: table-cell;
  }
}

@media (min-width: 768px){
  .pad-1-75 {
      padding: 1.75rem;
  }
}

.root-tmp{
  width: 100%;
}

.content-wrapper{
  padding: 0 0;
  margin: 1rem 0rem;
}

.main-topic-wrapper{
  background: linear-gradient( to bottom, #484848, #222 );
  display: flex;
  margin: 1rem 1rem;
  min-height: 23rem;
}

.side-info-bar{
  margin: 1rem 1rem;
}
.side-content-wrapper{
  width: 100%;
}
.of-the-week{
  margin: 0rem 1rem;
}

.topic-desc{
  width: 40%;
  min-height: 10rem;
  padding: 2rem
}

.topic-title{
  font-size: 3rem;
  line-height: 1.21;
  transition: .2s;
  margin-bottom: 0;
}

.topic-sub-title{
  font-size: 2rem;
  line-height: 1.21;
  transition: .2s;
  margin-top: 0;
  margin-bottom: 1rem;
}

.topic-btn{
  width: 70%;
  height: 3rem;
  border-radius: 9999px;
  --border-opacity: 1;
  background-color: #fff;
  border-color: #000;
}

.topic-img-wrapper{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  padding: 1.75rem 1.75rem;
}

.topic-img{
  width: 40%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  display: flex;
  transition: all 2s;
}

.topic-img-sub{
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.side-info-title{
  background-color: #444;
  padding: 1rem;
}

.side-info-title h5{
  margin: 0;
  font-size: 1rem;
  color: #fff;
}

.side-info-body{
  width: 100%;
}
.side-info-body th{
  padding: 1rem 1rem;
}
.side-info-body thead tr td{
  padding: 10px 6px;
}
.side-info-body tbody tr td{
  padding: 0.5rem 1rem;
  text-align: center;
  align-items: center;
}
.side-info-body tbody tr{
  border-top: 1pt solid #e7e7e7;
  border-bottom: 1pt solid #e7e7e7;
}
.side-info-body table{
  width: 100%;
  border-collapse: collapse; 
}
.side-info-table-cell-33{
  width: 33%;
}
.side-info-table-cell-33 h5{
  margin: 0;
  font-size: .95rem;
}
.side-info-table-cell-33 h6{
  margin: 0;
}
.side-info-table-cell-33 img{
  margin: 0 0 -1rem 0;
  justify-items: center;
}
.side-info-bar-more-btn{
  width: 100%;

  height: 2.5rem;
  border-width: 0;
  background-color: #fff;
  border-color: #000;
}

tr{
  display: table-row;
  vertical-align: inherit;
}

.of-the-week h4{
  font-size: 1.45rem;
  margin: 1rem 0rem;
}

.best-of-week{
  width: 100%;
  margin: 1rem 0rem;
  padding: 0.5rem 1rem;
}
.of-the-week-head{
  width: 100%;
  align-items: center;
}

.of-the-week-title-wrapper{
  width: 80%;
}
.of-the-week-img-wrapper{
  width: 20%;
}

.of-the-week-content{
  width: 100%;
}

.of-the-week img{
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  display: flex;
  transition: all 2s;
}

.of-the-week ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

.flex-table-cell {
  text-align: center;
  border: 1px solid  #e7e7e7;
  vertical-align: middle;
  word-wrap: break-word;
}
.flex-table-cell-title{
  border-bottom: 1pt solid #e7e7e7;
}

.of-the-week-content h5{
  margin: 0;
  font-size: 1.24em;
}

.card-background{
  background: linear-gradient( 135deg, rgb(248,235,161), rgb(211,191,113) );
}

.side-content-wrapper{

}